.root {
  background-color: rgba(0, 0, 0, 255);
  color: rgba(255, 255, 255, 255);
  font-family: monospace;
}

.orbitron-low {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.orbitron-high {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.row {
  margin: 0 0 0 0;
}

.col {
  flex-direction: column;
  display: flex;
  justify-items: center;
  align-items: center;
}

.container {
  display: flex;
  justify-items: center;
  justify-content: center;
  margin: 0 auto auto 0;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: 0 0 2vh 0;
}
.hamburger {
  filter: invert(1);
  height: 10vh;
  width: 10vh;
}
.top-heading {
  font-size: 4vh;
  margin: 0 0 0 0;
  align-items: center;
  justify-content: center;
}
.main-page {
  display: block;
}
.settings {
  font-size: 2vh;
  display: none;
}

#spacer {
  flex-grow: 1;
}

#speed {
  font-size: 20vh;
}
#unit {
  font-size: 10vh;
}

#street {
  font-size: 10vh;
  overflow-wrap: break-word;
}
#speedLimitSign {
  opacity: 1;
  float: right;
}
#header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 2vw 0 1vw 0;
}

#openHamburger {
  display: block;
}
#closeBurger {
  display: none;
}

@media screen and (max-width: 600px) {
  #header {
    display: none;
  }
}
